* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;

}

header nav ul li a {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type {
    margin-left: 31px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-size: 16px;
    color: black;
}

/*Main banner*/
.main_banner {
    background-image: url("../images/image1.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}

.main_banner_article {
    text-align: center;
    max-width: 580px;
}

.main_banner_article h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner_article h1 {
    font-size: 54px;
    line-height: 59px;
    color: #ffffff;
    margin-bottom: 18px;
}

.main_banner_article p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*What*/
.what {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 84px;
}

.what .container {
    max-width: 1168px;
    margin: auto;
}

.what .container h3 {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

.what .container h4 {
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.what .container .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards article {
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;

}

.cards article img {
    display: block;
    width: 100%;
}

.c_discr {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.what .c_discr h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
}

.c_discr p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}

.button {
    font-size: 15px;
    line-height: 20px;
    padding-right: 10px;
    text-decoration: none;
    background-color: white;
    border-radius: 14px;
    color: black;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.button::before {
    content: "";
    height: 32px;
    width: 32px;
    border-radius: 42%;
    background-color: black;
    margin: 5px;
}

/*Sunset*/
.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
    position: relative;
}

.sunset article {
    max-width: 298px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.sunset article h4, .monstera article h4, .stars_fall article h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.sunset article p, .monstera article p, .stars_fall article p {
    color: #C0C0C0;
}

/*Tools*/
.tools {
    background-color: black;
    position: relative;
    min-height: 540px;
}

.tools .container {
    margin: auto;
    max-width: 1240px;
    min-height: 540px;
    display: flex;
    align-items: center;
}

.t_cage {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.t_cage h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}

.t_cage h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 14px;

}

.t_cage p {
    font-size: 14px;
    line-height: 20px;
    max-width: 514px;
    margin-bottom: 20px;
}

.tools .by_img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/tools.jpg");
    background-size: cover;
}

/*Past clients*/
.past_clients {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}

.past_clients .container {
    max-width: 1076px;
    margin: auto;
    text-align: center;
}

.past_clients .container h2 {
    font-size: 40px;
    line-height: 42px;
    color: white;
    margin-bottom: 15px;
}

.past_clients .container h4 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.container .pc_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Monstera*/
.monstera {
    background-image: url("../images/mnstera.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 87px;
    box-sizing: border-box;
    position: relative;
}

.monstera article {
    max-width: 273px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

/*Stars fall*/
.stars_fall {
    background-image: url("../images/star_fall.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 106px;
    box-sizing: border-box;
    position: relative;
}

.stars_fall article {
    max-width: 254px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

/*Need help*/
.need_help {
    background-color: rgba(0, 0, 0, 1);
    padding: 113px 0 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.need_help .container {
    max-width: 571px;
    text-align: center;

}

.need_help .container h2 {
    font-size: 40px;
    line-height: 42px;
    color: white;
    margin-bottom: 15px;
}

.need_help .container h4 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.need_help .container a {
    font-size: 16px;
    line-height: 20px;
    padding-right: 10px;
    text-decoration: none;
    background-color: white;
    border-radius: 14px;
    color: black;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.need_help .container a::before {
    content: "";
    height: 32px;
    width: 32px;
    border-radius: 42%;
    background-color: black;
    margin: 5px;
}

/*Footer*/
footer {
    background-color: black;
}

footer .container {
    max-width: 1168px;
    margin: auto;
}

.foot_navig_section {
    margin-bottom: 36px;
    display: flex;
    position: relative;
    color: #ffffff;
    border-bottom: solid 2px white;
}

.f_n_text {
    width: 50%;


}

.f_n_text a {
    margin-bottom: 20px;

}

.f_n_text p {
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.foot_navig_section .f_n_busin_areas {
    margin-right: 55px;
}

.foot_navig_section h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}

.foot_navig_section li {
    list-style: none;
    margin-bottom: 10px;
    line-height: 20px;

}

.foot_navig_section li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.f_subscribe {
    margin-bottom: 36px;
    display: flex;
    position: relative;
    color: #ffffff;
    border-bottom: solid 2px white;

}

/*location*/
.location {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    list-style: none;
}

.location li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.location li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/compas.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -6px;

}

.location li:nth-child(2):before {
    background-image: url("../images/camera.svg");
}

.location li:nth-child(3):before {
    background-image: url("../images/iso.svg");
    width: 32px;
}

.location li:nth-child(4):before {
    background-image: url("../images/location.svg");
    width: 10px;
}

